In [1]:
import pandas as pd
import numpy as np

In [2]:
pip install --upgrade ta

Requirement already up-to-date: ta in c:\users\rshay\anaconda3\lib\site-packages (0.7.0)
Requirement already satisfied, skipping upgrade: numpy in c:\users\rshay\anaconda3\lib\site-packages (from ta) (1.19.2)
Requirement already satisfied, skipping upgrade: pandas in c:\users\rshay\anaconda3\lib\site-packages (from ta) (1.1.3)
Requirement already satisfied, skipping upgrade: pytz>=2017.2 in c:\users\rshay\anaconda3\lib\site-packages (from pandas->ta) (2020.1)
Requirement already satisfied, skipping upgrade: python-dateutil>=2.7.3 in c:\users\rshay\anaconda3\lib\site-packages (from pandas->ta) (2.8.1)
Requirement already satisfied, skipping upgrade: six>=1.5 in c:\users\rshay\anaconda3\lib\site-packages (from python-dateutil>=2.7.3->pandas->ta) (1.15.0)
Note: you may need to restart the kernel to use updated packages.

In [3]:
import ta as ta
from ta import add_all_ta_features
from ta.utils import dropna

In [124]:
data = pd.read_csv("AMZN.csv")

In [125]:
data

,Date,Open,High,Low,Close,Adj Close,Volume
0,5/15/1997,2.437500,2.500000,1.927083,1.958333,1.958333,72156000
1,5/16/1997,1.968750,1.979167,1.708333,1.729167,1.729167,14700000
2,5/19/1997,1.760417,1.770833,1.625000,1.708333,1.708333,6106800
3,5/20/1997,1.729167,1.750000,1.635417,1.635417,1.635417,5467200
4,5/21/1997,1.635417,1.645833,1.375000,1.427083,1.427083,18853200
...,...,...,...,...,...,...,...
6152,10/25/2021,3335.000000,3347.800049,3297.699951,3320.370117,3320.370117,2226000
6153,10/26/2021,3349.510010,3416.120117,3343.979980,3376.070068,3376.070068,2698300
6154,10/27/2021,3388.000000,3437.000000,3371.449951,3392.489990,3392.489990,2702200
6155,10/28/2021,3402.100098,3479.000000,3386.000000,3446.570068,3446.570068,5708700
6156,10/29/2021,3300.020020,3374.820068,3273.320068,3372.429932,3372.429932,6469500

In [81]:
data.isna().any()

Date         False
Open         False
High         False
Low          False
Close        False
Adj Close    False
Volume       False
dtype: bool

In [82]:
data[data.columns[data.isna().any()]]

Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, ...]

[6157 rows x 0 columns]

In [83]:
cond1 = data.Date.isna() # aapl['Date'].isna()
cond2 = data.Date.str.contains(r'^\s*$', na=False)
cond3 = data.Date == ''

data_checked = data.assign(cond1= cond1, cond2= cond2, cond3= cond3)
print (data_checked)

            Date         Open         High          Low        Close  \
0      5/15/1997     2.437500     2.500000     1.927083     1.958333
1      5/16/1997     1.968750     1.979167     1.708333     1.729167
2      5/19/1997     1.760417     1.770833     1.625000     1.708333
3      5/20/1997     1.729167     1.750000     1.635417     1.635417
4      5/21/1997     1.635417     1.645833     1.375000     1.427083
...          ...          ...          ...          ...          ...
6152  10/25/2021  3335.000000  3347.800049  3297.699951  3320.370117
6153  10/26/2021  3349.510010  3416.120117  3343.979980  3376.070068
6154  10/27/2021  3388.000000  3437.000000  3371.449951  3392.489990
6155  10/28/2021  3402.100098  3479.000000  3386.000000  3446.570068
6156  10/29/2021  3300.020020  3374.820068  3273.320068  3372.429932

        Adj Close    Volume  cond1  cond2  cond3
0        1.958333  72156000  False  False  False
1        1.729167  14700000  False  False  False
2        1.708333   6106800  False  False  False
3        1.635417   5467200  False  False  False
4        1.427083  18853200  False  False  False
...           ...       ...    ...    ...    ...
6152  3320.370117   2226000  False  False  False
6153  3376.070068   2698300  False  False  False
6154  3392.489990   2702200  False  False  False
6155  3446.570068   5708700  False  False  False
6156  3372.429932   6469500  False  False  False

[6157 rows x 10 columns]

In [84]:
def simple_moving_average_5(close):
    return close.rolling(5,min_periods=1).mean()

In [85]:
data['SMA5'] = simple_moving_average_5(data['Close'])

In [86]:
def simple_moving_average_10(close):
    return close.rolling(10,min_periods=1).mean()

In [87]:
data['SMA10'] = simple_moving_average_10(data['Close'])

In [88]:
def stochastic_k(high, low, close):
    return (((close-low.rolling(14).min())/(high.rolling(14).max()-low.rolling(14).min()))*100)

In [89]:
data['StochasticK'] = stochastic_k(data['High'], data['Low'], data['Close'])

In [90]:
def stochastic_d(stochastic_k):
    return stochastic_k.rolling(3,min_periods=1).mean()

In [91]:
data['StochasticD'] = stochastic_d(data['StochasticK'])

In [92]:
def larry_williams_r(high, low, close):
    return (((high.rolling(14).max()-close)/(high.rolling(14).max()-low.rolling(14).min()))*100)

In [93]:
data['LarryWilliamsR'] = larry_williams_r(data['High'], data['Low'], data['Close'])

In [94]:
def rate_of_change(close):
    return ((close-close.shift(12))/close.shift(12))

In [95]:
data['ROC'] = rate_of_change(data['Close'])

In [96]:
def price_volume_trend(close, volume):
    return (((close-close.shift(1))/close.shift(1))*volume)

In [97]:
data['PVT'] = price_volume_trend(data['Close'], data['Volume'])

In [98]:
def accumulation_distribution_oscillator(high, low, close):
    return((high-close.shift(1))/(high-low))

In [99]:
data['ADO'] = accumulation_distribution_oscillator(data['High'], data['Low'], data['Close'])

In [100]:
def weighted_moving_average_10(close):
    return ((10*close+9*close.shift(1)+8*close.shift(2)+7*close.shift(3)
             +6*close.shift(4)+5*close.shift(5)+4*close.shift(6)+3*close.shift(7)
             +2*close.shift(8)+close.shift(9))/(10+9+8+7+6+5+4+3+2+1))

In [101]:
data['WMA10'] = weighted_moving_average_10(data['Close'])

In [102]:
def exponential_moving_average_12(close):
    return (close.ewm(span=12, adjust=False).mean())

In [103]:
data['EMA12'] = exponential_moving_average_12(data['Close'])

In [104]:
def exponential_moving_average_26(close):
    return (close.ewm(span=26, adjust=False).mean())

In [105]:
data['EMA26'] = exponential_moving_average_26(data['Close'])

In [106]:
def moving_average_convergence_divergence(ema_12, ema_26):
    return (ema_12 - ema_26)

In [107]:
data['MACD'] = moving_average_convergence_divergence(data['EMA12'], data['EMA26'])

In [108]:
def momentum(close):
    return ((close/close.shift(14))*100)

In [109]:
data['Momentum'] = momentum(data['Close'])

In [110]:
def change(close):
    return (close - close.shift(1))

In [111]:
data['Change'] = change(data['Close'])

In [112]:
def direction(change):
    return (np.where(change>0, 1, 0))

In [113]:
data['Direction'] = direction(data['Change'])

In [114]:
#def change_up(change):
    #return (np.where(change>0), change, 0)

In [115]:
#def change_down(change):
    #return (np.where(change<0), change, 0)

In [116]:
def relative_strength_index(direction):
    return (100-(100/(1+(direction.rolling(14).sum()/14)/(14-direction.rolling(14).sum())/14)))

In [117]:
data['RSI'] = relative_strength_index(data['Direction'])

In [118]:
def channel_commodity_index(df, ndays): 
    df['TP'] = (df['High'] + df['Low'] + df['Close']) / 3 
    df['sma'] = df['TP'].rolling(ndays).mean()
    df['mad'] = df['TP'].rolling(ndays).apply(lambda x: pd.Series(x).mad())
    df['CCI'] = (df['TP'] - df['sma']) / (0.015 * df['mad']) 
    return df['CCI']

In [119]:
data['CCI'] = channel_commodity_index(data, 14)

In [120]:
def disparity_index(close):
    return (((close - close.rolling(14).mean())/(close.rolling(14).mean()))*100)

In [121]:
data['DI'] = disparity_index(data['Close'])

In [122]:
def get_adx(high, low, close, lookback):
    plus_dm = high.diff()
    minus_dm = low.diff()
    plus_dm[plus_dm < 0] = 0
    minus_dm[minus_dm > 0] = 0
    
    tr1 = pd.DataFrame(high - low)
    tr2 = pd.DataFrame(abs(high - close.shift(1)))
    tr3 = pd.DataFrame(abs(low - close.shift(1)))
    frames = [tr1, tr2, tr3]
    tr = pd.concat(frames, axis = 1, join = 'inner').max(axis = 1)
    atr = tr.rolling(lookback).mean()
    
    plus_di = 100 * (plus_dm.ewm(alpha = 1/lookback).mean() / atr)
    minus_di = abs(100 * (minus_dm.ewm(alpha = 1/lookback).mean() / atr))
    dx = (abs(plus_di - minus_di) / abs(plus_di + minus_di)) * 100
    adx = ((dx.shift(1) * (lookback - 1)) + dx) / lookback
    adx_smooth = adx.ewm(alpha = 1/lookback).mean()
    return plus_di, minus_di, adx_smooth

data['plus_di'] = pd.DataFrame(get_adx(data['High'], data['Low'], data['Close'], 14)[0]).rename(columns = {0:'plus_di'})
data['minus_di'] = pd.DataFrame(get_adx(data['High'], data['Low'], data['Close'], 14)[1]).rename(columns = {0:'minus_di'})
data['adx'] = pd.DataFrame(get_adx(data['High'], data['Low'], data['Close'], 14)[2]).rename(columns = {0:'adx'})
data = data.dropna()

In [123]:
data

,Date,Open,High,Low,Close,Adj Close,Volume,SMA5,SMA10,StochasticK,...,Direction,RSI,TP,sma,mad,CCI,DI,plus_di,minus_di,adx
14,6/5/1997,1.416667,1.541667,1.375000,1.541667,1.541667,5672400,1.489584,1.496354,34.375033,...,1,0.203666,1.486111,1.540303,0.086788,-41.627398,0.558137,15.325758,35.587723,50.226281
15,6/6/1997,1.515625,1.708333,1.510417,1.656250,1.656250,7807200,1.520834,1.522396,75.000055,...,1,0.282646,1.625000,1.527406,0.070206,92.673942,8.400292,28.199782,33.100980,43.640597
16,6/9/1997,1.656250,1.708333,1.656250,1.687500,1.687500,2352000,1.556250,1.541146,85.714286,...,1,0.381194,1.684028,1.526166,0.068612,153.386632,10.553252,26.704887,31.346268,30.868253
17,6/10/1997,1.708333,1.708333,1.531250,1.583333,1.583333,5458800,1.577083,1.541146,68.421026,...,0,0.381194,1.607639,1.521453,0.062553,91.852991,3.982389,23.183265,37.184473,24.801838
18,6/11/1997,1.593750,1.604167,1.531250,1.541667,1.541667,1188000,1.602083,1.542188,57.894870,...,0,0.381194,1.559028,1.526910,0.063244,33.856459,0.704759,23.604621,37.860301,24.430750
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6152,10/25/2021,3335.000000,3347.800049,3297.699951,3320.370117,3320.370117,2226000,3390.028027,3363.737036,46.075539,...,0,0.675676,3321.956706,3336.762172,62.706724,-15.740435,-0.538225,24.299687,32.603451,22.462941
6153,10/26/2021,3349.510010,3416.120117,3343.979980,3376.070068,3376.070068,2698300,3376.412061,3376.611035,61.695644,...,1,0.675676,3378.723388,3346.552647,58.910708,36.406218,0.884063,30.173968,29.150464,21.835137
6154,10/27/2021,3388.000000,3437.000000,3371.449951,3392.489990,3392.489990,2702200,3371.898047,3387.432031,68.942496,...,1,0.675676,3400.313314,3353.450265,58.707812,53.216142,1.180228,30.532162,27.007841,20.421165
6155,10/28/2021,3402.100098,3479.000000,3386.000000,3446.570068,3446.570068,5708700,3374.210058,3402.103027,86.638952,...,1,0.910010,3437.190023,3363.291219,58.017979,84.914831,2.448428,31.230088,23.356385,19.442353
6156,10/29/2021,3300.020020,3374.820068,3273.320068,3372.429932,3372.429932,6469500,3381.586035,3398.444018,56.093408,...,0,0.910010,3340.190023,3369.090739,51.065360,-37.730360,-0.023105,25.517342,30.476450,19.055512